body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Home-Page */

.home-page{
    background-color: aliceblue;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page button{
    height: 7vh;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    background-color: antiquewhite;
}

.home-page button:hover{
    color: #fff;
    background-color: aquamarine;

}

/* Navbar */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e7b3e6;
    color: #fff
  }
  .links  {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 10px;
    margin-left:10px;
  }

  .page-links{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

  .page-links:hover{
    color: blueviolet;
  }

  .links button{
    height: 5vh;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    background-color: rgb(150, 231, 218);
  }


  /* Dashboard */

  .dashboard-page{
    background-color: aliceblue;
    height: 100vh;
    padding: 10px;
  }

  .dashboard-page h2{
    text-align: center;
    font-size: 30px;
  }

  .dashboard-page h3{
    text-decoration: underline;
    font-size: 25px;
  }

  .dashboard-page p{
    font-size: 18px;
  }

  /* Event Page */

  .events-page{
    background-color: aliceblue;
    height: 100vh;
    padding: 10px;
  }

  .events-page h2{
    text-align: center;
    font-size: 30px;
  }

  .events-page input{
    height: 5vh;
    width: 38vw;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
  }

  /* Event-Cards */

  .card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom:15px;
    border-radius: 8px;
  }
  .register {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
  },
  .cancel {
    background: red;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer
  }

  /* Register-Page */

  
  .register-page form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

  }

  .register-page input{
    height:7vh;
    width: 50vw;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  .register-page button{
    height: 7vh;
    width: 10%;
    border-radius: 5px;
    background-color: burlywood;
    cursor: pointer;
  }

  /* Login-Page */

.login form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

  }

  .login input{
    height:7vh;
    width: 50vw;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  .login button{
    height: 7vh;
    width: 10%;
    border-radius: 5px;
    background-color: burlywood;
    cursor: pointer;
  }